/*----------------------------------------------------------------------------*\
    Placeholder
    Work in progress specific
\*----------------------------------------------------------------------------*/

/*  Variables
\*----------------------------------------------------------------------------*/



/*  Component
\*----------------------------------------------------------------------------*/

    body.body--placeholder{
        font-size: 0;
        text-align: center;

        > *,
        &:after{
            display: inline-block;
            vertical-align: middle;
        }

        &:after{
            content: '';
            width: 0;
            height: 100%;
        }
    }
